<aside 
    [ngClass]="sidenavClasses" 
    [ngStyle]="{'top.px': headerHeight, 'height': 'calc(100vh - ' + headerHeight + 'px)'}"
    role="navigation" 
    aria-label="Main navigation">    
    <!-- Navigation Content -->
    <div class="sidenav-content">
        <nav>
            <div class="group" *ngFor="let group of menuGroups">
                <div class="group-title" *ngIf="!isCollapsed">{{ group.title }}</div>
                <ul>
                    <li *ngFor="let item of group.items">
                        <!-- Menu item with children -->
                        <div *ngIf="hasChildren(item)" class="menu-item-with-children">
                            <button
                                type="button"
                                class="menu-parent"
                                [class.expanded]="isExpanded(item.label)"
                                [attr.aria-expanded]="isExpanded(item.label)"
                                [attr.aria-label]="item.label"
                                (click)="toggleExpand(item.label, $event)">
                                    <app-icon [name]="item.icon" class="icon" />
                                    <span class="text" *ngIf="!isCollapsed">{{ item.label }}</span>
                                <app-icon [name]="isExpanded(item.label) ? 'keyboard_arrow_down' : 'keyboard_arrow_right'" class="arrow" *ngIf="!isCollapsed" />
                            </button>
                            <!-- Child menu items -->
                            <ul class="child-menu" 
                                *ngIf="!isCollapsed && isExpanded(item.label)"
                                role="menu">
                                <li *ngFor="let child of item.children" role="none">
                                    <a [routerLink]="child.route"
                                       [class.active]="isChildRouteActive(child.route, item.children)"
                                       [attr.aria-current]="isChildRouteActive(child.route, item.children) ? 'page' : null"
                                       role="menuitem"
                                       (click)="onNavClick()">
                                        <span class="text">{{ child.label }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- Regular menu item without children -->
                        <a *ngIf="!hasChildren(item)"
                           [routerLink]="item.route"
                           routerLinkActive="active"
                           (click)="onNavClick()">
                            <app-icon [name]="item.icon" class="icon" />
                            <span class="text" *ngIf="!isCollapsed">{{ item.label }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</aside>