@import '../../../../assets/scss/variable';

.supplier-detail-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.supplier-detail-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
}

// Loading & Empty States
.loading,
.no-data {
    padding: 40px;
    text-align: center;
    color: $color-gray-600;
}

