<header class="header" #headerElement>
    <div class="header-left">
        <ng-container *ngIf="!isVmsUser">
            <button class="menu-btn" (click)="onMenuButtonClick()" type="button" title="Open navigation (F2 for quick menu)">
                <app-icon name="menu" />
                <span class="menu-label">Menu</span>
            </button>

            <div class="header-divider"></div>
        </ng-container>
        <nav class="header-breadcrumb">
            <ng-container *ngFor="let crumb of breadcrumbs; let last = last; let first = first">
                <span *ngIf="!first" class="breadcrumb-sep">/</span>
                <a *ngIf="crumb.route && !last" class="breadcrumb-link" (click)="navigateTo.emit(crumb.route)">{{ crumb.label }}</a>
                <span *ngIf="!crumb.route || last" class="breadcrumb-current">{{ crumb.label }}</span>
            </ng-container>
        </nav>
    </div>
    <div class="header-right">
        <button
            *ngIf="headerActions.action() as act"
            class="header-action-btn"
            [class.header-action-btn--primary]="(act.type || 'primary') === 'primary'"
            (click)="act.onClick()"
            type="button">
            <app-icon *ngIf="act.icon" [name]="act.icon" />
            <span>{{ act.label }}</span>
        </button>
        <span class="header-user-email" *ngIf="userEmail">{{ userEmail }}</span>
        <button class="logout-btn" (click)="onLogout()" type="button" title="Logout">
            <app-icon name="logout" />
            <span class="logout-label">Logout</span>
        </button>
    </div>
</header>

<!-- Mega Menu Modal -->
<ng-container *ngIf="!isVmsUser">
<div class="megamenu-backdrop" [class.is-open]="isMenuOpen" (click)="closeMenu()"></div>
<div class="megamenu" [class.is-open]="isMenuOpen" role="dialog" aria-modal="true">
    <div class="megamenu__body">
        <div class="megamenu__tiles">
            <button *ngFor="let tile of quickTiles"
                class="megamenu__tile"
                [class.megamenu__tile--active]="tile.route === activeRoute"
                (click)="onMenuItemClick(tile)"
                type="button">
                <app-icon [name]="tile.icon" class="megamenu__tile-icon" />
                <span class="megamenu__tile-label">{{ tile.label }}</span>
            </button>
        </div>
    </div>
</div>
</ng-container>
