@import '../../../../assets/scss/variable';

// Sortable column headers
.sortable {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-right: 32px !important;

    &:hover {
        background-color: $color-gray-100;
    }

    .sort-icon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: $color-gray-500;
        width: 18px;
        height: 18px;
    }
}
