@if (isOpen) {
    <div
        class="modal-backdrop"
        [class.is-open]="isOpen"
        (click)="onBackdropClick($event)"
        (keydown)="onEscapeKey($event)"
        tabindex="0">
    </div>
    <div class="modal confirmation-dialog" [class.is-open]="isOpen">
        <div [class]="dialogClasses">
            @if (closable) {
                <button
                    (click)="onCloseClick()"
                    class="confirmation-dialog__close"
                    aria-label="Close dialog">
                    <app-icon name="close" />
                </button>
            }

            <div class="confirmation-dialog__icon-wrapper">
                <div class="confirmation-dialog__icon" [ngClass]="'confirmation-dialog__icon--' + confirmType">
                    <app-icon [name]="confirmType === 'danger' ? 'delete' : 'help_outline'" />
                </div>
            </div>

            <div class="confirmation-dialog__body">
                <h3 class="confirmation-dialog__title">{{ title }}</h3>
                <p class="confirmation-dialog__message" *ngIf="!highlightText">{{ message }}</p>
                <div class="confirmation-dialog__message" *ngIf="highlightText">
                    <span>{{ message.split(highlightText)[0] }}</span>
                    <strong class="confirmation-dialog__highlight">{{ highlightText }}</strong>
                    <span>{{ message.split(highlightText)[1] }}</span>
                </div>
            </div>

            <div class="confirmation-dialog__footer">
                <button
                    type="button"
                    class="btn btn--{{ cancelType }} btn--md"
                    (click)="onCancel()">
                    {{ cancelLabel }}
                </button>
                <button
                    type="button"
                    class="btn btn--{{ confirmType }} btn--md"
                    (click)="onConfirm()">
                    {{ confirmLabel }}
                </button>
            </div>
        </div>
    </div>
}
