<app-loading *ngIf="loading$ | async" [size]="'medium'" [type]="'spinner'" [overlay]="true"></app-loading>

<ng-container *ngIf="isAuthenticated; else authLayout">
    <app-header
        [title]="title()"
        [activeRoute]="activeRoute()"
        [breadcrumbs]="breadcrumbs()"
        (navigateTo)="onOpenPage($event)"
        (closePage)="onClosePage()">
    </app-header>
    <div class="content-wrapper" #contentWrapper>
        <router-outlet />
    </div>
</ng-container>

<ng-template #authLayout>
    <router-outlet />
</ng-template>
