<div class="pager" *ngIf="total > 0">
    <!-- Page size selector on the left -->
    <div class="pager-page-size">
        Rows per page:
        <select
            [(ngModel)]="pageSize"
            (ngModelChange)="changePageSize($event)">
            <option *ngFor="let size of pageSizeOptions" [ngValue]="size">
                {{ size }}
            </option>
        </select>
    </div>

    <div class="pager-group">
        <button class="nav prev" type="button" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
            <app-icon name="chevron_left" />
            <span class="label">Previous</span>
        </button>

        <ul class="pager-pages" aria-label="Pagination">
            <li *ngFor="let p of pages" [class.ellipsis]="p === '…'">
                <button type="button" [disabled]="p === '…'" [class.active]="p === currentPage" (click)="goToPage(+p)">
                    {{ p}}
                </button>
            </li>
        </ul>

        <button class="nav next" type="button" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
            <span class="label">Next</span>
            <app-icon name="chevron_right" />
        </button>
    </div>
</div>